[submodule "sifive-freedom"]
	path = sifive-freedom
	url = git@github.com:wunderabt/freedom.git
[submodule "digilent-xdc"]
	path = digilent-xdc
	url = https://github.com/Digilent/digilent-xdc.git
[submodule "freedom-e-sdk"]
	path = freedom-e-sdk
	url = https://github.com/sifive/freedom-e-sdk.git
